<!--Header starts-->
<header>
  <!--Nagivation bar starts-->
  <nav id="nav-bar">
    <div class="container">
      <a href="/Dashboard/Main">
        <div class="brand">
          <!-- Navbar Logo -->
          <strong class="text-primary"><span>MONEY</span>PORTAL</strong>
        </div>
      </a>

      <!-- Sidebar Toggle active Btn -->
      <button class="sidebar-toggle-active">
        <i class="fa fa-long-arrow-left"></i>
      </button>

      <!-- Sidebar Toggle InActive Btn -->
      <button class="sidebar-toggle-inactive">
        <i class="fa fa-long-arrow-right"></i>
      </button>

      <!-- Log out  -->
      <div class="logout-btn">
        <a href="#">
          <p>Logout <i class="fas fa-sign-out-alt"></i> </p>
        </a>
      </div>
    </div>
  </nav>
</header>